.post-card {
  background-color: var(--bg-primary);
  margin-top: 10px;
  border-radius: 16px;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
}
.upper-part {
  display: flex;
  justify-content: space-between;
}
.lower-part {
  color: var(--text);
}
.post-user {
  display: flex;
  color: var(--text);
}
.post-img {
  height: 500px;
  width: 770px;
  border-radius: 8px;
  margin: 2px;
}
.icon {
  display: flex;
  justify-content: space-between;
}
.likes {
  display: flex;
}
