.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 32px;
  background-color: var(--bg-primary);
  padding-right: 10px;
  color: var(--text);
}
.search-bar:focus {
  outline: none;
}
.post-btn {
  width: 100px;
}
