.stories-container {
  display: flex;
}
.story {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  position: relative;
  border-radius: 16px;
  margin: 0 4px;
}
.username {
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 8px;
  flex-wrap: wrap;
}
