.request {
  display: flex;
}
.request-user {
  display: flex;
  flex-direction: column;
  color: var(--text);
}
.accept-btn {
  display: flex;
  width: 200px;
}
.request-container {
  background-color: var(--bg-primary);
  border: 0;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 8px;
}
