.navBar {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--bg-primary);
}
.project-name {
  width: 500px;
}
.heading {
  font-size: 30px;
  margin-left: 20%;
  color: var(--text);
}
.middle-nav-container {
  width: 60%;
}
.input-container {
  /* width: 60%; */
  border: 1px solid transparent;
  border-radius: 32px;
  background-color: var(--bg-secondary);
  width: 80%;
  padding: 0.2rem 1rem;
}
.input {
  border: 1px;
  border-radius: 16px;
  background-color: var(--bg-secondary);
  width: 80%;
  padding: 0.2rem 1rem;
  color: var(--text);
}
.input:focus {
  outline: none;
}
.right-nav-container {
  display: flex;
  margin-right: 10%;
}
.create-btn {
  width: 100px;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .middle-nav-container {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .heading {
    margin-left: 0;
  }
  .project-name {
    width: initial;
  }
  .right-nav-container {
    margin-right: 0;
  }
}
