.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #f8f9fa;
}
.input-container {
  width: 80%;
  background-color: red;
  /* margin-left: 20% */
}
.input {
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: #f1edf5;
  margin-top: 20px;

  padding: 0.3rem 0rem;
  /* text-align: left; */
}
.create-btn {
  border: 1px solid transparent;
  border-radius: 24px;
  background-color: #8a6aef;
  color: #f1edf5;
  padding: 2px 32px;
  margin: 1rem;
}
