.content-div {
  position: absolute;
  top: 14rem;
  left: 14rem;
  min-width: 300px;
  z-index: 50;
  border-radius: 16px;
  padding: 4px;
  cursor: pointer;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgb(167, 128, 205);
}
.details {
  display: flex;
}
.comment-details {
  display: flex;
  margin: 0;
  font-size: small;
  color: var(--text);
}
.time {
  font-size: small;
  color: var(--text);
}
@media screen and (max-width: 1024px) {
  .content-div {
    top: 8rem;
    left: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .content-div {
    top: 8rem;
    right: 6rem;
    left: revert-layer;
  }
}
