:root {
  --primary-bg-dark: rgb(42, 36, 68);
  --primary-bg-light: rgb(255, 255, 255);

  --text-light: black;
  --text-dark: white;

  --secondary-bg-dark: rgb(32, 26, 51);
  --secondary-bg-light: rgb(241, 237, 246);
}

.light-theme {
  --bg-primary: var(--primary-bg-light);
  --bg-secondary: var(--secondary-bg-light);
  --text: var(--text-light);
}
.dark-theme {
  --bg-primary: var(--primary-bg-dark);
  --bg-secondary: var(--secondary-bg-dark);
  --text: var(--text-dark);
}

.parent-container {
  background-color: var(--bg-secondary);
  height: 100%;
}
.bottom-container {
  display: flex;
  padding: 2rem 8rem;
  padding: 100px;
}
.left-container {
  min-width: 200px;
  flex: 1;
}
.middle-container {
  flex: 3;
  margin: 0 20px;
}
.right-container {
  flex: 2;
  max-width: 300px;
}
